.balao {
    background-color: #0000ff;
    display: inline-block;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}

/* aplicando borda embaixo */
/*
.balao::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 20px;

    border: 20px solid;
    border-color: #0000ff transparent transparent transparent;
}

/* Aplicando estilo na direita */
.balao::after {
    content: '';
    display: block;
    position: absolute;
    margin-left: 117px;
    top: 21px;
    border: 20px solid;
    border-color: transparent transparent transparent #0000ff;
}