.texto {
    width: 200px;
    height: 900px;
    overflow: auto;
    background-color: #ccc;
    padding: 20px;
    border: 2px solid #ff0000;
}

.scrollbutton {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ff0000;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none; /* Acicionando display none para deixar invisible */
}