body {
    background-color: blue;
}

.botao {
    background-color: #ff0000;
    color: #ffffff;
    border: 0px;
    padding: 20px;
}

.avatar1, .avatar2, .avatar3 {
    width: 100px;
    height: 100px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
}
.avatar1 {
    background-image: url('../images/doctor.png');
}

.avatar2 {
    background-image: url('../images/doctor\ \(1\).png');
}

.avatar3 {
    background-image: url('../images/psychiatrist.png');
}